<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Gräv grop!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Gör fälla!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>
<button type="button" class="btn btn-outline-warning btn-lg retaliation-indicator">Action!</button>