<table class="eventTable table-responsive table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th class="w-25">Event</th>
      <th class="w-25">Message</th>
    </tr>
  </thead>
  <tbody class="eventRow">

  </tbody>
</table>
