<div>
  <table class="eventTable table-responsive table-dark table-striped table-bordered">
    <thead>
      <tr>
        <th>Event</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody class="eventRow">

    </tbody>
  </table>
</div>