<form class="doDamage" method="post">

    <a onclick="damageToMonster(1)" class="btn btn-lg btn-danger" id="fist">Punch!</a>
    <a onclick="damageToMonster(5)" class="btn btn-lg btn-danger" id="knife">Stab!</a>
    <a onclick="damageToMonster(10)" class="btn btn-lg btn-danger" id="gun">Shoot!</a>

</form>