<form class="doDamage" method="post">
    <a onclick="attack(this)" class="btn btn-lg btn-danger" id="fist">Punch!</a>
    <a onclick="attack(this)" class="btn btn-lg btn-danger" id="knife">Stab!</a>
    <a onclick="attack(this)" class="btn btn-lg btn-danger" id="gun">Shoot!</a>
</form>