<table class="inventoryTable table-responsive table-dark">
  <thead>
    <tr>
      <th class="w-25">Object</th>
      <th class="w-25">Amount</th>
    </tr>
  </thead>
  <tbody class="inventoryRow">

  </tbody>
</table>

