<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">
        <h5>Toothless Zombie</h5>
        <span class="monsterDead">
            <span class="damage-to-monster red-and-small-text"></span>
            <span class="currentMonsterHp">@Model.Monster.Hp</span> Hp
        </span>
    </div>
    <div class="card-body">
        
    </div>
    <form action="submit" class="new-monster">
    <button type="button" class="btn btn-outline-secondary">Generate monster</button>
    </form>
</div>